

#container{
    width: 300px;
    height: 450px;
    border-radius: 1rem;
    background-color: #00f2ff;
    background-image: radial-gradient(at 0 0,#17171a 0,
    transparent 50%),
    radial-gradient(at 50% 0,#f9f4f9 0,
    transparent 50%),
    radial-gradient(at 100% 0,#22ff00 0,transparent 50%);
    display: flex;
    margin-left: 35%;
    justify-content: center;
    
}

#ip1{
    display: flex;
    width: 100px;
    height: 30px;
    margin-top: 2rem;
}

#ip2{
    display: flex;
    position: absolute  ;
    width: 100px;
    height: 30px;
    top: 8%;
    left: 101%;

}
